<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile Number</th>
        <th>Click to Delete</th>
    </tr>
    <div *ngFor = "let person of Persons">
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.gender}}</td>
            <td>{{person.mobilenumber}}</td>
            <td><a href="/delete" onclick=""><mat-icon>delete</mat-icon></a></td>
        </tr>
    </div>
</table>